{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load account %}
{% block title %}New password{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text-center py-1">Set Password</h1>
                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value='Set Password' />
                </form>
            </div>
        </div>
    </div>
{% endblock %}