{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}
{% block title %}New password{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text-center py-1">New password</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Continue</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}