{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load account %}
{% block title %}New password{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="text-center py-1">Verify Your E-mail Address</h1>
                <p class="text-center py-1">We have sent an e-mail to you for verification. Follow the link provided to finalize
                    the signup process. If you do not see the verification e-mail in your main inbox, check your spam
                    folder. Please contact us if you do not receive the verification e-mail within a few
                    minutes.</p>
            </div>
        </div>
    </div>
{% endblock %}