{% extends '_base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <section class="bg-dark bg-opacity-25 pb-2 pt-4">




        <div class="container">
            <div class="mb-2">

            <div class="row">

            <div class="col-md-2"><div class="p-2">
        <p class="h4 big text-dark">Фильтр</p>


                <form action="{% url 'filter' %}" method="get" name="filter">
                <p class="h5 big text-dark">Год</p>
                {% for music in view.get_year %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="year"
                           value="{{ music.year }}">
                    <span class="span h6 text-dark">{{ music.year }}</span>
                </div>{% endfor %}
                <hr/><p class="h5 big text-dark">Жанр</p>
               {% for music in view.get_category %} <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="category"
                           value="{{ music.id }}">
                    <span class="span h6 text-dark">{{ music.name }}</span>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success rounded">Найти</button>
            </form>
        </div></div>

            {% for m in music_list %}
            <div class="col-md-4 pb-2 pt-4 align-self-center">
                <a href="{{ m.get_absolute_url }}" class="d-block mb-3 mb-md-0"><img
                        src="{{ m.cover.url }}"
                        class="img-fluid w-75" alt="..." width="700" height="480"></a>
            </div>
            <div class="col-md-4 align-self-center">
                <a href="#" class="text-dark text-decoration-none"><h3 class="font-weight-bold h4"></h3></a>
                <h2 class="font-weight-bold h2 mb-3 big text-dark">by {{ m.author }}</h2>
                {% filter upper %}<h2 class="font-weight-bold h4 mb-3 big text-dark">
                    Album {{ m.title|linebreaks|truncatewords:5 }}</h2>{% endfilter %}
                <h2 class="font-weight-bold h6 mb-3 big text-dark">{{ m.price }}$</h2>
                <p></p>
                <a href="{{ m.get_absolute_url }}" class="btn btn-outline-secondary btn-sm text-dark">Details</a>
                <a href="{% url 'category' m.category.slug %}" class="btn btn-outline-secondary btn-sm text-dark">Category</a>
            </div>
        {% endfor %}
            </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-1">
                <nav class="list-pages" aria-label="Page navigation example ">
                    <ul class="pagination pagination-lg">
                        {% for p in paginator.page_range %}  <!---служебный обьект--->
                            {% if page_obj.has_other_pages %}  <!--- если есть страницы для пагинации--->
                                {% if page_obj.number == p %}  <!---проверка для актива--->
                                    <li class="page-item active">
                                        <p class="page-link">{{ p }}</p>
                                    </li>
                                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                    <!---слева2,справа2--->
                                    <li class="page-item">
                                        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>


{% endblock %}