{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}

{% block content %}


    <section class="bg-dark pb-2 pt-4 bg-opacity-25">
        <div class="container">
            <div class="mb-2 p-3">
                <div class="row">
                    <div class="col-md-4"> {% if music.cover %}
                        <a href="{{ music.get_absolute_url }}" class="d-block mb-3 mb-md-0"><img
                                src="{{ music.cover.url }}"
                                class="img-fluid w-75" alt="..." width="700" height="480"></a> {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h3 class="font-weight-bold h2 text-dark">Album - {{ music.title }}</h3>
                        <h3 class="font-weight-bold h5 mb-3 text-dark">By - {{ music.author }} </h3>
                        <h4 class="font-weight-bold h6 mb-3 small text-dark">{{ music.price }}$</h4>
                        {% for song in music.albumsong_set.all %}
                            <h4 class="font-weight-bold h6 mb-3 small text-dark">Пример песни {{ music.author }}
                                - {{ song.title }}</h4>
                            <audio controls id="player"
                            >
                                <source src="{{ song.audio_file.url }}" type="audio/wav">
                            </audio>
                        {% endfor %}
                        <div class="justify-content-start row" data-pg-collapsed>
                            <div class="col-lg-8 col-md-10 pb-3 pt-3 ">
                                <div class="d-flex flex-row h-100">
                                    {% for image in music.albumshots_set.all %} <a href="#" class="p-2 d-block"><img
                                            src="{{ image.image.url }}"
                                            class="img-fluid rounded border border-dark" alt="{{ image.description }}"
                                            width="700"
                                            height="480"></a>{% endfor %}
                                </div>
                            </div>
                        </div>



                         <form action="{% url 'add_rating' %}" method="post" name="rating">
                            <b>Рейтинг:</b>
                            {% csrf_token %}
                            <input type="hidden" value="{{ music.id }}" name="music">
                            <span class="rating">
                                {% for k, v in star_form.fields.star.choices %}
                                    <input id="rating{{ v }}" type="radio" name="star"
                                           value="{{ k }}">
                                    <label for="rating{{ v }}">{{ k }}</label>
                                {% endfor %}
                            </span>
                            <span class="font-weight-bold h6 mb-3 small text-dark">Средняя оценка - {{ rating_sum.average_star|make_list|slice:'4'|join:'' }}|</span>
                            <span class="font-weight-bold h6 mb-3 small text-dark">Количество оценок - {{ music.ratings.count }}</span> <!-- ratings через related name вместо .set-->
                        </form>

                        <hr/>

                        <a href="{% url 'music_list' %}" class="btn btn-outline-secondary btn-sm text-dark">Back to all
                            albums</a>
                        <a href="{% url 'music_update' music.slug %}"
                           class="btn btn-outline-secondary btn-sm text-dark">Edit</a>
                        <a href="{% url 'music_delete' music.slug %}"
                           class="btn btn-outline-secondary btn-sm text-dark">Delete</a>
                    </div>
                </div>

            <div class="lh-sm mt-4 mb-4">
                <p class="p-4 h1 text-center">Описание</p>
            {{ music.description|safe }}
            </div>
                <section class="pt-5 text-center">
                    <div class="container">
                        <div>
                            <h2 class="text-dark">Отзывы пользователей</h2>
                            <h4 class="h6 text-secondary text-small">Кол-во отзывов - {{ music.reviews_set.count }}</h4>
                        </div>
                        <div class="justify-content-center row text-wrap">


                            {% for review in music.get_review %}
                                <div class="col-lg-3 col-sm-5 pt-3">
                                    <div class="border p-2 pb-2 pl-2 pr-2 pt-2 rounded">
                                        <a class="pr-3" href="#">
                                            <img src="{% static 'images/gojira.jpg' %}" class="img-fluid w-25 rounded"
                                                 alt="image">
                                        </a>
                                        <h3 class="h5 mb-3 fw-bolder">{{ review.name }}</h3>
                                        <p class="mb-0 fs-5"
                                           style="word-wrap: break-word; white-space: normal;">{{ review.text }}</p>
                                        <p class="mb-0 mt-2 fs-5 text-danger "
                                           style="word-wrap: break-word; white-space: normal;">{{ review.email }}</p>
                                        <a href="#formReview" class="text-success h6"
                                           onclick="addReview('{{ review.name }}', '{{ review.id }}')">Ответить</a>
                                        {% for rew in review.reviews_set.all %}
                                            <div class="mt-4">
                                                <a class="pr-5" href="#">
                                                    <img src="{% static 'images/avatar.jpg' %}"
                                                         class="img-fluid rounded w-25"
                                                         alt="image">
                                                </a>
                                                <div class="">
                                                    <h5 class="mt-0 fst-italic"
                                                        style="word-wrap: break-word; white-space: normal;">{{ rew.name }}</h5>
                                                    <p class="mt-2 fst-italic"
                                                       style="word-wrap: break-word; white-space: normal;">{{ rew.text }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>{% endfor %}
                        </div>
                    </div>
                </section>
            </div>
            <!--  //contact form grid ends here -->
        </div>
        </div>
        </div>
        </div>
    </section>



    <section class="bg-light pb-5" data-pg-collapsed>
        <div class="container pb-5">
            <div class="bg-white p-4 p-lg-5 shadow">
                <h2 class="mb-2">Оставьте ваш отзыв</h2>
                <form action="{% url 'add_review' music.id %}" method="post" id="formReview">
                    {% csrf_token %}
                    <input type="hidden" name="parent" id="contactparent" value=""> <!--Инпут для ответа на комменты-->
                    <div class="form-group "><label>
                        Ваш комментарий *
                    </label>
                        <textarea type="text" class="form-control rounded-0" name="text" id="test"
                                  rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control rounded-0" placeholder="Enter email..." name="email">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control rounded-0" rows="1"
                               placeholder="Enter your message..." name="name" id="contactcomment">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary rounded-0 text-uppercase mt-2 rounded">
                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("test").innerText = `${name}, `
        }
    </script>
{% endblock %}