{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

    <section class="bg-light pb-2 pt-4 text-secondary">
        <div class="container">{% for m in music_list %}
            <div class="bg-white mb-2 p-3">

                <div class="row">

                                                <div class="col-md-5">
                        <a href="#" class="d-block mb-3 mb-md-0"><img
                                src="{% static 'images/gojira.jpg' %}"
                                class="img-fluid w-75" alt="..." width="700" height="480"></a>
                    </div>
                    <div class="col-md-7">
                        <a href="#" class="text-dark text-decoration-none"><h3 class="font-weight-bold h4"></h3></a>
                        <h2 class="font-weight-bold h2 mb-3 big text-black">by {{ m.author }}</h2>
                        <h2 class="font-weight-bold h4 mb-3 big text-black">Album {{ m.title }}</h2>
                        <h2 class="font-weight-bold h6 mb-3 big text-secondary">{{ m.price }}$</h2>
                        <p></p>
                        <a href="{{ m.get_absolute_url }}" class="btn btn-outline-secondary btn-sm">Details</a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">Category</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>



{% endblock %}